/* Header */
.head, 
.logo {
    display: flex;
    align-items: center;
}

.head {
    position: sticky;
    position: -webkit-sticky;
    box-shadow: 0 0 8px black;
    z-index: 10;
    top: 0;

    justify-content: space-between;
}

.logo,
.login {
    margin: 0 5rem;
}


.head {
    background-color: #515151;
}

.logoCaption {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #EFEFEF;
}

.loggedIn {
    font-size: 1.2rem;
    color: #EFEFEF;
}

.loggedInWhite {
    font-size: 1.2rem;
    color: #515151;
}

.loginLink {
    text-decoration: underline;
    transition: color 0.1s linear;
    color: #EFEFEF !important;
}
.loginLink:hover {
    transition: color 0.1s linear;
    color: #c0c0c0 !important; 
}

.loginLinkWhite {
    text-decoration: underline;
    transition: color 0.1s linear;
    color: #515151 !important;
}
.loginLinkWhite:hover {
    transition: color 0.1s linear;
    color: black !important; 
}

.info {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.info div {
    text-align: center;
    align-self: center;
}

.infoLeft {
    flex: 3;
}

.infoRight {
    flex: 2;
}

.interfaceImg {
    box-shadow: 0 0 8px black;
    border-radius: 20px;
    padding: 3px;
    margin-right: 1rem;
}

/* Animations */
.imgRectAnim {
    transition: opacity 0.5s linear;
    opacity: 1;
}

.rectAnim {
    transition: width 1.5s cubic-bezier(.09,.52,.29,.99);
    width: 728px;
}

.blackDescriptionAnim {
    transition: all 0.3s linear;
    transform: translateX(0);
    opacity: 1;
}
