/* Header */
.head, 
.logo {
    display: flex;
    align-items: center;
}

.head {
    position: sticky;
    position: -webkit-sticky;
    box-shadow: 0 0 8px black;
    z-index: 10;
    top: 0;

    justify-content: space-between;
}

.logo,
.login {
    margin: 0 5rem;
}


.head {
    background-color: #515151;
}

.logoCaption {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #EFEFEF;
}

.loggedIn {
    font-size: 1.2rem;
    color: #EFEFEF;
}

.loginLink {
    text-decoration: underline;
    transition: color 0.1s linear;
    color: #EFEFEF !important;
}
.loginLink:hover {
    transition: color 0.1s linear;
    color: #c0c0c0 !important; 
}

.info {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.info div {
    text-align: center;
    align-self: center;
}

.infoLeft {
    flex: 3;
}

.infoRight {
    flex: 2;
}
