@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.card {
    animation: appear 0.3s linear;

    min-height: 125px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    transition: box-shadow 0.2s linear;
    box-shadow: none;

    overflow-x: hidden;
}

.card:hover {
    transition: box-shadow 0.2s linear;
    box-shadow: 0 0 7px #515151;
}

.extension, 
.filename {
    font-family: 'Quicksand', sans-serif;
    color: #efefef;
}

.extension {
    font-size: 1.5rem;
}

.filename {
    text-align: center;
    margin: 0.2rem 0;
}

.buttons {
    display: flex;
}

.buttons div {
    margin: 0 1rem;
}
