*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    max-width: 100%;
}

main {
    overflow: hidden;
}

article {
    padding: 50px;
}

#downloadImage {
    transform: translateY(-35px) rotate(-4deg);
}

.blackDescription {
    margin-top: 2rem !important;
    transform: translateX(100px);
    opacity: 0;
}

main {
    margin-top: 10px;
}

#loginButton {
    opacity: 0;
}

.imgRect {
    opacity: 0;
}

.rect {
    width: 0;
}

@media screen and (max-width: 1000px) {
    #downloadImage {
        display: none;
    }

    #loginButton {
        opacity: 1;
    }
}

@media screen and (max-width: 630px) {
    article {
        padding: 2rem;
    }
}

@media screen and (min-height: 800px) {
    #loginButton {
        opacity: 1;
    }
}
