* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

article {
    padding: 50px;
}

#downloadImage {
    transform: translateY(-35px) rotate(-4deg);
}

.blackDescription {
    margin-top: 2rem !important;
    transform: translateX(100px);
    opacity: 0;
}

main {
    margin-top: 10px;
}

.imgRect {
    opacity: 0;
}

.rect {
    width: 0;
}
