.loginButton {
    grid-column-start: 2;

    display: flex;
    justify-content: space-around;

    background-color: #54A67A;
    border-radius: 20px;
    margin: 0 20px 60px 20px;
    padding: 1rem;
    cursor: pointer;

    transition: background-color 0.1s linear;
}

.loginButton:hover {
    transition: background-color 0.1s linear;
    background-color: #468a65;
}

.loginButton > span {
    align-self: center;
    text-align: center;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    color: #EFEFEF;
}

@media screen and (max-width: 1000px) {
    .loginButton {
        grid-column-start: 1;
        grid-column-end: 4;

        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-height: 550px) {
    .loginButton {
        margin-top: 15px;
        margin-bottom: 5%;
    }
}

@media screen and (max-height: 315px) {
    .loginButton {
        margin-top: 0;
    }
}
