@keyframes appear {
    from {
        transform: translateY(-100px);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes darken {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);

    animation: darken 0.2s linear;

    z-index: 20;
}

.popupVisible {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    position: fixed;
    top: 10%;
    bottom: 30%;
    left: 25%;
    right: 25%;
    margin: auto;
    
    background: #EFEFEF;
    border-radius: 15px;

    animation: appear 0.2s linear;
}

.popupUnvisible {
    display: none;
}

.captionBox, 
.closeButton {
    display: flex;
    justify-content: center;
}

.captionBox {
    grid-column-start: 2;

    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 30px;
    padding-bottom: 0.5rem;
}

.closeButton {
    padding: 0 0 2rem 2rem;
}

.captionBox > span, 
.closeButton > svg {
    text-align: center;
    align-self: center;
}

.closeButton > svg {
    cursor: pointer;
}

.linkInput {
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;
    border-radius: 1rem;
    border: none;
    margin: 0 3rem 4rem 3rem;

    transition: background-color 0.1s linear;
    background-color: white;
}

.linkInput:focus {
    transition: background-color 0.1s linear;
    background-color: #DBDBDB;
    outline: none;
}

.buttonHovered {
    transition: fill 0.1s linear;
    fill: black;
}
.buttonUnhovered {
    transition: fill 0.1s linear;
    fill: #515151;
}

@media screen and (max-width: 1000px) {
    .popupVisible {
        top: 5%;
        bottom: 5%;
        left: 15%;
        right: 15%;
    }
}

@media screen and (max-width: 630px) {
    .popupVisible {
        top: 5%;
        bottom: 5%;
        left: 5%;
        right: 5%;
    }

    .closeButton {
        padding-bottom: 4rem;
    }
}

@media screen and (max-height: 550px) {
    .captionBox > span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .closeButton {
        padding-left: 0;
    }
}
